<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="custObj" class="com.spring.app.Customer">
        <constructor-arg value="1" type="int" index="0"/>
        <constructor-arg value="SD" type="String" index="1"/>
        <constructor-arg value="S@s.com" type="String" index="2"/>
        <constructor-arg value="1234567890" type="long" index="3"/>
    </bean>

    <bean id="member" class="com.spring.app.MemberShip">
        <constructor-arg value="100" type="int" index="0"/>
        <constructor-arg value="Permanent" type="String" index="1"/>
        <constructor-arg value="-1" type="int" index="2"/>
        <constructor-arg ref = "custObj"/>
    </bean>
</beans>